#!/bin/bash




###########Mail Format#######################
mail_cpu () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: Top command not working

Hi Team,<br /><br />

Top command to check cpu status is not working, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_disk () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: df command not working

Hi Team,<br /><br />

df command to check FS status is not working, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_disk_warning () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: WARNING: Disk utilisation reached $1 in $2

Hi Team,<br /><br />

Disk utilisation reached $1 in $2 FS, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_disk_critical () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: CRITICAL: Disk utilisation reached $1 in $2

Hi Team,<br /><br />

Disk utilisation reached $1 in $2 FS, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_inode () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: inode command not working

Hi Team,<br /><br />

Inode command to check inode status is not working, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_inode_warning () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: WARNING: Inode utilisation reached $1 in $2

Hi Team,<br /><br />

Inode utilisation reached $1 in $2 FS, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_inode_critical () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: CRITICAL: Inode utilisation reached $1 in $2

Hi Team,<br /><br />

Inode utilisation reached $1 in $2 FS, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_cpu_warning () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: WARNING: CPU utilisation reached threshold: $1%

Hi Team,<br /><br />

CPU utilisation reached threshold $1%, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_cpu_critical () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: CRITICAL: CPU utilisation reached threshold: $1%

Hi Team,<br /><br />

CPU utilisation reached threshold $1%, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_memory_warning () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: WARNING: Memory utilisation reached threshold: $1%

Hi Team,<br /><br />

Memory utilisation reached threshold $1%, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_memory_critical () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: CRITICAL: Memory utilisation reached threshold: $1%

Hi Team,<br /><br />

Memory utilisation reached threshold $1%, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_swap_warning () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: WARNING: Swap Memory utilisation reached threshold: $1%

Hi Team,<br /><br />

Swap Memory utilisation reached threshold $1%, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_swap_critical () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: CRITICAL: Swap Memory utilisation reached threshold: $1%

Hi Team,<br /><br />

Swap Memory utilisation reached threshold $1%, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_zombie () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: CRITICAL: Zombie process is running: $1

Hi Team,<br /><br />

Zombie process is running,please check.<br />
Zombie process count: $1<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_load_average () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: CRITICAL: Server load reached threshold: $1

Hi Team,<br /><br />

Server load reached threshold, please check.<br />
Load average: $1<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_services () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: Services got failed: $1

Hi Team,<br /><br />

System services got failed, please check.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_password () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: Password expired for user $1 on $2

Hi Team,<br /><br />

Password expired for user $1 on $2, please reset new password.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_service () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: $1 service not running

Hi Team,<br /><br />

$1 service not running, please restart the service.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
mail_ntp () {
/usr/sbin/sendmail -f "$from_address" "$to_address" << EOM
from:$from_address
to:$to_address
MIME-Version:1.0
Content-Type:text/html;
Subject: NTPD not synchronized

Hi Team,<br /><br />

NTPD not synchronized, please sync timezone manually.<br /><br />

Regards,<br />
Alance.<br />
EOM
}
